<!-- <div ng-controller="myLoginCtrl"> -->
<h2>Welcome to Login module.........</h2>
<form name="myLoginForm">
    Enter Your Username:<input type="text" name="userName" ng-model="userBind" /><br><br> Enter your password:&nbsp;<input type="password" name="password" ng-model="passBind" /><br><br>
    <span ng-show="flagValue" style="color:red">Authentication failed!!!  </span><br>
    <button type="submit" ng-click="doLogin()">Login</button> &nbsp; <button type="reset">Reset</button>
</form>
<!-- </div> -->
